<div class="jumbotron">
    <h1>Mes frais kilométriques</h1><br>
    <p>Votre nouvelle solution de saisie pour tous vos déplacements professionnels.</p>

    <p> <%= link_to "Accéder à mon espace", registres_path, class: 'btn btn-info' %></p>
</div>
